.overlay-panel {
    width: 700px;
    border-radius: 3ex;
    border: 2px solid var(--border-clr-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000b9;
    backdrop-filter: blur(20px);
    overflow: hidden;
}
.overlay-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid var(--border-clr-1);
}
.overlay-header h2 {
    font-size: 1.4rem;
    font-weight: 500;
}
.overlay-header p {
    font-size: .9rem;
    color: #d5d5d5;
}

.overlay-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.overlay-list .overlay-option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1.5ex;
    gap: .6rem;
    border: 1px solid var(--border-clr-1);
    background: rgba(255, 255, 255, 0.059);
    filter: brightness(.8);
}
.overlay-list .overlay-option.active {
    filter: brightness(1);
    background: linear-gradient(to right,
        rgba(59,130,246,0.2),
        rgba(168,85,247,0.2),
        rgba(236,72,153,0.2)
    );

    border-color: rgba(96,165,250,0.3);
    box-shadow: 0 10px 15px -3px rgba(59,130,246,0.1),
                0 4px 6px -4px rgba(59,130,246,0.1);
}
.overlay-list .overlay-option:hover {
    background-color: rgba(255, 255, 255, 0.1)
}
.overlay-list .overlay-option div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.overlay-list .overlay-option div span.desc {
    font-size: .8rem;
    color: #d5d5d5;
}
.overlay-list .overlay-option.active div span:last-of-type {
    color: #60a5fa;
}
.overlay-list .overlay-option > span {
    font-size: 2rem;
    font-variation-settings: 'FILL' 1;
    /* color: rgba(168, 85, 247, 0.8) */
    color: #60a5fa;
}

.overlay-footer {
    border-top: 1px solid var(--border-clr-1);
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: .9rem;
    color: #A1A1A1;
}
.overlay-footer span {
    font-size: .6rem;
    font-variation-settings: 'FILL' 1;
    color: rgba(81, 162, 255, .4);
}