.grid-view {
    width: 100%;
    flex-direction: column;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: .6rem;
    padding: calc(1.5 * var(--pad));
}

.grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .4rem;
    aspect-ratio: 1;
    padding: .8rem;
    border-radius: 2.5ex;
}
.grid-tile .tile-thumb {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 2ex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(38, 38, 38, .4);
    border: 2px solid var(--border-clr-1);
    overflow: hidden;
}
.grid-tile .tile-thumb .thumb {
    width: 100%;
    height: 100%;
}
.grid-tile .tile-thumb span {
    font-size: 5rem;
}
.grid-tile .tile-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.grid-tile:hover {
    background: rgba(255, 255, 255, 0.05);
}
.grid-tile[data-selected="true"] {
    background-color: rgba(76, 132, 221, 0.308);
}

.grid-view .group-header {
    top: 0;
}