#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.material-symbols-rounded {
  font-size: 1.2rem;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(6px);
}

.popup-content {
  min-width: 300px;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
}