/* fonts */
@font-face {
	font-family: Satoshi;
	src: url(/fonts/Satoshi-Variable.woff2) format("woff2");
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

/* root config */
:root {
	font-family: Satoshi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 450;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #fff;

	--bg-clr-1: rgba(24, 22, 41, 0.624);
	--bg-clr-2: #16181C;
	--bg-clr-3: #0D0F14;
	--bg-clr-4: #343434;
	--border-clr-1: rgba(255, 255, 255, 0.2);
	--border-clr-2: #343434;
	--btn-clr-1: #0686FF;
	--btn-clr-2: #194274;

	--primary-grad: linear-gradient(to right,
			rgba(59, 130, 246, 0.6),
			rgba(168, 85, 247, 0.6),
			rgba(236, 72, 153, 0.6));
}

html,
body:not(.linux) {
	background: transparent;
}

body {
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 100vh;
	scroll-behavior: smooth;
	overflow: hidden;
}

body.linux {
	background-color: rgb(24, 22, 41);
}

*,
*::after,
*::before {
	box-sizing: border-box !important;
	outline: none !important;
	-webkit-user-drag: none !important;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	all: unset;
}

button,
img {
	user-select: none !important;
	-ms-user-select: none !important;
	-moz-user-select: none !important;
	-ms-touch-select: none !important;
	-webkit-user-select: none !important;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: .6;
}

img {
	width: 100%;
	object-fit: cover;
}

/* unselectable */
[no-select="true"],
[no-select="true"] * {
	user-select: none !important;
	-ms-user-select: none !important;
	-moz-user-select: none !important;
	-ms-touch-select: none !important;
	-webkit-user-select: none !important;
}

*::-webkit-scrollbar {
	width: 0;
	height: 0;
}